.swarm-comment {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 12px;
}

.swarm-comment__left-side {
    display: flex;
    flex-direction: column;
}

.swarm-comment__right-side {
    display: flex;
    gap: 6px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    p { margin: 0; }
}

.swarm-comment__right-side__name-and-time {
    display: flex;
    flex-direction: row;
    line-height: 20px;
    color: var(--text-terniary);
    font-family: Inter;
    font-size: 12px;
}

.swarm-comment__right-side__name-and-time__username {
    font-family: Inter;
    font-size: 12px;
}

.swarm-comment__right-side__name-and-time__time {
    font-family: Public Sans, Inter;
    font-size: 12px;
    margin-left: 16px !important;
}

.swarm-comment__right-side__text {
    background-color: var(--primary-grey);
    border: 1px solid #e1dde9;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;
    font-family: Inter;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
    letter-spacing: 0.5%;
}

.swarm-comment__right-side__text__error {
    background-color: red;
    border: 1px solid #e1dde9;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;
    font-family: Inter;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
    letter-spacing: 0.5%;
}

.swarm-comment__right-side__retry {
    display: flex;
    flex-direction: row;
    line-height: 20px;
    color: black;
    font-family: Inter;
    font-size: 12px;
}

.swarm-comment__right-side__swarm-comment-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swarm-comment__right-side__swarm-comment-controls_like {
    cursor: pointer;
    border: none;
    background: transparent;
}

.swarm-comment__right-side__swarm-comment-controls_reply {
    line-height: 20px;
    letter-spacing: 0.5%;
    font-family: Inter;
    text-decoration: underline;
    color: #2B2E36;
    font-size: 12px;
    padding-left: 4px;
    cursor: pointer ;
}

.swarm-comment__right-side__swarm-comment-controls_reply__has-reply {
    font-weight: bold;
}

.swarm-comment__right-side__swarm-comment-controls_like_loading {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

/* Spinner animation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}