.swarm-comment-system-comment-list {
  text-align: center;
  flex-grow: 1;
  overflow: scroll;
}

.swarm-comment-system-comment-list__no-comment {
  text-align: center;
  align-content: center;
  font-family: Public Sans;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5%;
  color: #333333;
}