.swarm-comment-system-comment-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 40px;
  padding: 8px 16px;
  height: 100%;
}

.swarm-comment-system-comment-list__no-comment {
  text-align: center;
  align-content: center;
  font-family: Public Sans;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5%;
  color: #333333;
  height: 100%;
}
