.swarm-comment-input {
    display: flex;
    flex-direction: row;
    margin: 8px 16px 8px 16px;
    justify-content: space-between;
    border: 1px solid #D4D5DD;
    border-radius: 8px;
    height: 32px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    left: 0;
}

.swarm-comment-input__input {
    flex-grow: 1;
    border: none;
    margin: 3px;
    font-size: 16px;
}

.swarm-comment-input__send-button {
    border: none;
    background-color: transparent;
    margin-right: 4px;
}

.swarm-comment-input__processing {
    justify-content: center !important;
    align-items: center !important;
}